.header {
  border-bottom: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.header_nav {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  font-weight: 600;
  align-items: center;
}

.header_nav a:hover {
  transform: scale(1.1);
}
