:root {
  --primary-color: #b191f9;
  --secondary-color: #e4d4ff;
  --accent-color: #d9afff;
  --background-color: #f9f4ff;
  --text-color: #4b007d;
  --button-color: #c69af6;
  --button-hover: #aa6cf0;

  font-family: "Lora", "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  max-width: 670px;
  min-width: 512px;
  border-radius: 16px;
  margin: 20px auto;
  overflow: hidden;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 16px rgba(180, 144, 255, 0.2);
  position: relative;
}

main {
  flex-grow: 1;
}

h1 {
  text-align: center;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: #fff;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  flex-shrink: 0;
  max-width: 100%;
}

address {
  font-style: normal;
}

.text {
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
}
