:root {
  font-family: Lora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #161a1d;
  background: #f5f3f4;
  min-width: 320px;

  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  max-width: 670px;
  min-width: 512px;
  border-radius: 12px;
  margin: 20px auto;
  overflow: hidden;
  padding: 20px;
  background-color: #ffffff;
  position: relative;
}

main {
  flex-grow: 1;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  flex-shrink: 0;
  max-width: 100%;
}

address {
  font-style: normal;
}

.text {
  text-align: center;
  font-weight: bold;
}
